*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
}
.title{
    text-align: center;
    margin-top: 16px;
    font-size: 48px;
    font-family: 'roboto';
    font-weight: 400;
}
.clock{
    margin-inline: auto;
    margin-top: 32px;
    font-size: 22px;
    font-family: 'roboto';
    font-weight: 700;
    background: #282828;
    box-shadow: 0 0 8px rgb(12, 235, 12);
    width: 250px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: filter 0.4s;
}
.clock:hover{
    filter: brightness(0.7);
}
